<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestSuit_demo">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.Demo3_testSuit"/>
      <class name="testNG.Demo2_testSuit"/>
      <class name="testNG.Demo1_testSuit">
      <methods>
      <exclude name= "test"/>
      
      </methods>
      </class>
         </classes>
  </test> <!-- Test -->
</suite> <!-- TestSuit_demo -->
